@import 'normalize';
@import 'variables';
@import 'container';
@import 'mix';
@import 'fonts';

.left {
	float: left;
}

.right {
	float: right;
}

/*Лого*/
.logo {
	background: url('../img/logo.png') no-repeat;
	background-position: 0 0;
	display: block;
	font-family: Raleway-Regular;
	color:  #ffffff;
	font-size: 34px;
	line-height: 56px;
	padding: 0 0 0 65px;
	text-decoration: none;
	&:hover {
	  background-position: 0 -56px;
	  color: #c7b299;
	}
}

.header {
  background-color: #41413f;
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  padding-top: 40px;
  width: 100%;
  .logo {
    float: left;
  }
  .nav {
  	float: right;
  	margin-right: 34px;
  	&__list {
  		list-style: none;
  		margin: 0;
  		&-item {
  			display: inline-block;  			
  			.link {
  				font-family: 'Montserrat-Light';
	  			color:  #fff;
	  			display: block;
	  			font-size: 14px;
	  			line-height: 56px;
	  			padding: 0 15px;
	  			text-decoration: none;
	  			&:hover {
						color: #c7b299;
	  			}
  			}
  		}
  	}
  }
  .search {
  	float: right;
  	position: relative;
  	margin: 16px 0 16px 14px;
  	&--button {
  		background: url(../img/icon/icon-search.png) no-repeat;
	    background-position: 0 0;
	    display: block;
	    width: 24px;
	    height: 24px;
	    cursor: pointer;
	    &:hover {
	    	background-position: 0 -24px;
	    }
  	}
  	#searchCheck {
  		display: none;
		}
		.form {
  		position: absolute; 
  		display: block;
  		right: 0; 
  		top: 0;
  		z-index: 0;
  		.button {
  			position: absolute;
  			z-index: 1;
  			top: 0;
  			right: 0;
  			background: url(../img/icon/icon-search.png) no-repeat;
		    background-position: 0 0;
		    display: block;
		    width: 24px;
		    height: 24px;
		    cursor: pointer;
		    &:hover {
		    	background-position: 0 -24px;
		    }
  		}
  		.input-group {
	    	background: #878787;
	    	box-sizing: border-box;
		    color: #fff;
		    padding: 0;
		    border: 0;
		    border-radius: 10px;
		    margin: -6px;
		    width: 0;
		    -webkit-transition: all 2s ease-out 0s;
		    -moz-transition: all 2s ease-out 0s;
		    -o-transition: all 2s ease-out 0s;
		    transition: all 2s ease-out 0s;
		  }
  	}
  	#searchCheck:checked + .form>.input-group {
  		padding: 10px 35px;
  		width: 150px; 
  	}
	}
	.card {		
		cursor: pointer;
		margin: 16px 14px;
		float: right;		
		&:hover {
			background-position: 0 -24px;
		}
		&__link {
			background: url(../img/icon/cart.png) no-repeat;
			background-position: 0 0;
			display: block;
			height: 24px;
			text-decoration: none;
			width: 18px;
		}		
	}

	.slick-slider {
		margin-top: 273px;
		.main-title {
			text-align: center;
			font-family: Raleway-Medium;
			color:  #fff;
			font-size: 36px;
			font-weight: 500;
			margin: 6px 0;
		}
		.second-title {
			font-family: Raleway-ExtraBold;
			color:  #fff;
			font-size: 52px;
			font-weight: 700;
			text-align: center;
			margin: 0;
		}
		.decription {
			font-family: Montserrat-Light;
			color:  #fff;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			text-align: center;
			margin: 0 auto;
			padding: 11px 0 50px 0;
    	width: 580px;
		}
		.btn {
			margin: 0 auto;
			text-align: center;	
			&:active {
				border-bottom: 0;
				box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)  
				inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) 				 
				inset; 
				  -moz-transform: translatey(3px); /* Для Firefox */ 
				  -ms-transform: translatey(3px); /* Для IE */ 
				  -webkit-transform: translatey(3px); /* Для Safari, Chrome, iOS */ 
				  -o-transform:translatey(3px); /* Для Opera */ 
				  transform: translatey(3px);
			}
		}
	}
}

.services {
	background: #fff;
	padding: 80px 0;
	width: 100%;
	.figure {
		cursor: pointer;			
		margin: 0;
		text-align: center;
		width: 267px;

		.img {
			background: url(../img/icon/icon-service.png) no-repeat;
			height: 49px;
			margin: 0 auto;
			width: 52px;
		}
					// Иконки
		.pen {
			background-position: 2px 0; 
		}

		.dev {
			background-position: -50px 0;
			width: 44px;
		}

		.custom {
	    background-position: -94px 0;
  		width: 43px;
		}

		.marketing {
			background-position: -138px 0;
		}

		&__caption {
			padding: 29px 0 0 0;
			.title {
				font-family: Raleway-SemiBold;
				color:  #555;
				font-size: 22px;
				font-weight: 600;
			}

			.decription {
				font-family: Montserrat-Light;
				color:  #8c8c8c;
				font-size: 14px;
				font-weight: 300;
				line-height: 24px;
			}

			.hr {
				background: #f1eee9;
				height: 3px;
				margin: 0 auto;
				width: 70px;
			}
		}
		&:hover {

			.title {
				color: #c7b299;
			}

			.img {
				background-position-y: -50px;
			}

			.hr {
					background: #c7b299;
				}
		}
	}	
}

.ideas {
	
	background: url('../img/primer.png') no-repeat #fbfaf8;
	background-position: center bottom;
	text-align: center;
	padding: 86px 0 518px 0;
	width: 100%;

	.title {
		padding-bottom: 14px;
	}

	.description {
		width: 757px;
	}
}

.themes {
	background: #3a2921;
	padding: 44px 0;
	width: 100%;
	.title {
		font-family: Raleway-Regular;
		color:  #ffffff;
		font-size: 28px;
		font-weight: 400;
		margin: 0;
		span {
			color: #c7b299;
		}
	}
	.description {
		font-family: Montserrat-Light;
		color:  #615855;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		margin: 0;
	}
	.btn {
		float: right;
		height: 47px;
		line-height: 50px;
	}
}

.projects {
	background: #fff;
	text-align: center;
	padding: 51px 0;
	width: 100%;
	.tabs {
		padding-top: 33px;
		&__caption {
			margin: 0 auto;
			margin-bottom: 40px;
			padding: 0;
			.tabs__butt {
				border-radius: 3px;
				background-color:  transparent;
				border: 1px solid #ebebeb;
				cursor: pointer;
				display: inline-block;
				font-family: Montserrat-Light;
				color:  #8c8c8c;
				font-size: 14px;
				font-weight: 300;
				line-height: 32px;
				padding: 0 24px;
				margin: 0 5px;
				text-align: center;
				&:hover {
					background-color:  #998675;				
					color: #fff;
				}
			}
			.tabs__butt.active {
				background-color:  #998675;				
				color: #fff;
			}
			
		}
		.tab {
			display: none;
			flex-wrap: wrap;
			justify-content: space-around;

			&__item {
				margin-bottom: 30px;
				position: relative;
				width: 370px;
				.photo {
					height: 100%;
					margin-bottom: -4px;
					width: 100%;
				}
				.signa {
					background: #fbfaf8;
					font-family: Raleway-Medium;
					color:  #c7b29a;
					font-size: 20px;
					font-weight: 500;
					margin-top: -4px;
					padding: 30px;
					position: relative;
					text-align: left;
					&__type {
						font-family: Montserrat-Light;
						color:  #d1d1d1;
						display: block;
						font-size: 14px;
						font-weight: 300;
						line-height: 20px;
						padding-top: 14px;
					}
					&:before {
						content: "";		
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 10px solid #fbfaf8;										
						height: 0;					
						position: absolute;
						top: -10px;
						left: 19px;
						width: 0;
					}
				}
				&:hover {
					cursor: pointer;
					.background_hover {
						display: block;
					}
					.signa {
						background: #362f2d;
						color: #fff;
						&__type {
							color: #c7b299;
						}
						&:before {
							border-bottom: 10px solid #362f2d;
						}
					}
				}

				.background_hover {
					background: #111;					
    			box-sizing: border-box;
    			display: none;
					opacity: 0.7;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 237px;
					width: 100%;
					.link {
						background: url(../img/icon/hover.png);
						background-position: 0 0;
						display: inline-block;						
						height: 26px;
						margin: 106px 28px 0 0;
						opacity: 1;
						width: 26px;
						&:hover{
							background-position: 0 26px;
						}
					}
					.lupa {
						background: url(../img/icon/hover.png);
						background-position: 26px 1px;
						display: inline-block;						
						height: 26px;
						margin: 106px 0 0 0;
						opacity: 1;
						width: 26px;
						&:hover{
							background-position: 26px 27px;
						}
					}
				}
			}
		
		}
		.tab.active {
			display: flex;
		}
	}
}

.video {
	background: #e8ebe8;
	width: 100%;
	height: 705px;
	border-right: none;
  border-left: none;
  position: relative;
  .fillWidth {
    width: 100% !important;
    height: 100% !important;
	}
	.poster {
		img {
	    width: 100%;
	    bottom: 0;
	    position: absolute;
		}
	}
}

.mobile {
	background: #fbfaf8;
	padding-top: 79px;
	width: 100%;
	.iphone {
		float: left;
	}
	.title {
		float: left;
		padding: 116px 0 14px 31px;
	}
	.description {
		float: left;
		padding: 0 0 0 31px;
		width: 57%;
	}
	.details {
		float: left;
		padding: 40px 0 0 79px;
		box-sizing: border-box;
		width: 45%;
		&__item {
			position: relative;
			.description {
				float: none;
				padding: 0 0 0 51px;
				width: 100%;
			}
		}
		summary {
	  	outline: 0;
	  }

		summary::-webkit-details-marker {
		  display: none; 
		}

		summary:before {
		  background: url(../img/icon/summary.png);
		  content: "";
		  height: 21px;
		  float: left;
		  padding: 0;
		  margin-right: 9px;
		  width: 21px;
		}

		details[open] summary:before {
		  background: url(../img/icon/summary-open.png);
		  content: "";
		}
	}
}

.counters {
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	padding: 69px 0 60px 0;
	width: 100%;
	&__item {
		margin: 0;
		text-align: center;
		&:hover {
			.counters__number {
				color: darken(#fff, 15%);
			}
			.counters__description {
				color: darken(#c7b299, 15%);
			}
			.hr {
				background: darken(#fff, 15%);
			}
		}
	}
	&__icon {
		padding-bottom: 30px;
	}
	&__number {
		font-family: Montserrat-UltraLight;
		color:  #fff;
		font-size: 48px;
		font-weight: 200;
		line-height: 36px;
	}
	&__description {		
		font-family: Montserrat-Light;
		color:  #c7b299;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		margin: 21px 0 30px 0;
		text-transform: uppercase;
	}
	.hr {
		background: #fff;
		height: 2px;
		margin: 0 auto;
		width: 30px;
	}
}

.posts {
	padding: 70px 0 140px 0;
	text-align: center;
	width: 100%;
	&__slider {
		padding-top: 37px;
	}
	&__item {
		border: 1px solid #f8f8f8;
		position: relative;
		text-align: left;
		margin: 0 15px;
		width: 31.356%;
		.title {
			font-family: Raleway-Medium;
			color:  #555;
			font-size: 20px;
			font-weight: 500;
			padding-left: 30px;
		}
		.description {
			font-size: 14px;
			box-sizing: border-box;
			line-height: 22px;
			padding-left: 30px;
			width: 100%;
		}
		&:hover {
			background: #362f2d;
			cursor: pointer;
			.posts__date {
				background-color:  #c7b299;
				.month {
					background-color:  #a48d72;
				}
			}
			.background-hover {
				display: block;
			}
			.title {
				color:  #c7b299;
			}
			.description {
				color:  #fff;
			}
		}
	}
	.background-hover {
		background: #111;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.7;
		z-index: 1;
		width: 100%;
	}
	&__photo {
		margin-bottom: 26px;
		position: relative;
		width: 100%;
		img {
			height: 100%;
			width: 100%;
		}		
	}
	&__date {
		font-family: Montserrat-Light;
    background-color:  #363636;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-top: 7.5px;
    text-align: center;
    z-index: 10;
    width: 50px;
    .month {
    	background-color:  #252525;
    	border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			display: block;
    	font-family: Roboto-Regular;
			font-size: 12px;
			font-weight: 400;
			line-height: 20px;
			margin-top: 7.5px;
			padding: 2.5px 0;
			width: 100%;
    }
	}	
	.link-more {		
		margin: 20px 0 30px 0;
		padding-left: 30px;
	}
	&__prev,
	&__next {
		background: url(../img/slider-icon.png);
		cursor: pointer;
		position: absolute;
		height: 22px;
		top: 474px;
		left: 47.3%;
		width: 22px;
	}
	&__prev {
		background-position: 0 0;
		&:hover {
			background-position: 0 -22px;
		}
	}
	&__next {
		background-position: -22px 0;
		left: 49.9%;
		&:hover {
			background-position: -22px -22px;
		}
	}
}

.logos {
	background: url(../img/backgroun_mountain.png);
	background-size: cover;
	padding: 140px 0;
	width: 100%;
	.flex {
		align-items: center;
	}
	&__item {
		width: 17.797%;
		&:hover {
			cursor: pointer;
		}
	}
}

.footer {
	.flex {
		justify-content: space-between;
	}
	background: #191919;
	padding: 70px 0 191px 0;
	position: relative;
	width: 100%;
	&__column {
		width: 23.222%;
		.logo {
			margin-bottom: 29px;
		}
		.description {
			color:  #545454;
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
			margin: 0;
			margin-bottom: 33px;
			text-align: left;
			width: 100%;
			&:hover {
				color: #c7b299;
			}
		}
		.link-more {
			font-family: Montserrat-Regular;
			color:  #d1d1d1;
			font-size: 14px;
			font-weight: 400;
			padding-left: 0;
			&:after {
		  	left: 85px;
			}
		}
		.title {
			font-family: Raleway-Bold;
			color:  #fff;
			font-size: 24px;
			font-weight: 700;
			text-align: left;
			margin-bottom: 22px;
			padding-bottom: 0;
		}

		.widget {
			display: inline-block;
			margin: 0 10px 10px 0; 
			width: 46.5%;
			&__photo {
				height: 100%;
				width: 100%;
			}
			&:nth-child(odd) {
				margin-right: 0;
			}
		}
		.recent-post {
			display: block;
			padding-bottom: 15px;
			margin-bottom: 15px;
			text-decoration: none;
			border-bottom: 2px solid #252525;
			&:last-child {
				border-bottom: none;
				margin: 0;
			}
			.date {
				font-family: Montserrat-Light;
				color:  #363636;
				font-size: 12px;
				font-weight: 300;
				line-height: 21px;
				text-align: left;
			}
			.description {
				margin: 0;
				.twit {
					color:  #00bff3;
				}
			}
			&:hover {
				.date {
					color: #fff;
				}
				.description {
					color:  #c7b299;
					.twit {
						color:  darken(#00bff3, 20%);
					}
				}
			}
		}
	}
	.copy {
		background: #111;
		padding: 45px 0;
		position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
		width: 100%;
		&__link {
			font-family: Montserrat-Light;
			border-right: 1px solid #252525;
			color:  #545454;
			cursor: pointer;
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
			margin-right: 10px;
			padding-right: 10px;
			text-decoration: none;
			text-align: left;
			.copy__logo {
				color:  #959595;
			}
			&:last-child {
				border: 0;
				margin-right: 0px;
				padding-right: 0px;
			}
			&:hover {
				color:  #c7b299;
				.copy__logo {
					color: lighten(#959595, 50%);
				}
			}			
		}
	}
}

/*Ссылка read_more*/
.link-more {		
	font-family: Montserrat-Light;
	color:  #c7b299;
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	margin: 20px 0 30px 0;
	padding-left: 30px;
	position: relative;
	&:after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-top: 3px solid transparent;
		border-left: 8px solid #c7b299;
		border-bottom: 3px solid transparent;
		top: 7px;
  	left: 115px;
	}
	&:hover {
		color: darken(#c7b299, 20%);
		&:after {
			border-left: 8px solid darken(#c7b299, 20%);
		}
	}
}

.btn {
	border-radius: 3px;
	background-color:  #998675;
	box-shadow: 0px 3px 0px rgba(115, 99, 87, 0.8);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	display: block;
	font-family: Raleway-ExtraBold;
	color:  #ffffff;
	height: 53px;
	font-size: 14px;
	font-weight: 700;
	line-height: 53px;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;	
	text-decoration: none;	
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
	width: 170px;
	&:active {
		border-bottom: 0;
		box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)  

		inset;box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1)  
		 
		inset; 
		  -moz-transform: translatey(3px); /* Для Firefox */ 
		  -ms-transform: translatey(3px); /* Для IE */ 
		  -webkit-transform: translatey(3px); /* Для Safari, Chrome, iOS */ 
		  -o-transform:translatey(3px); /* Для Opera */ 
		  transform: translatey(3px);
	}
}

.title {
	font-family: Raleway-SemiBold;
	color:  #555555;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 14px;
}

.description {
	font-family: Montserrat-Light;
	color:  #8c8c8c;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 0 auto;
	width: 757px;
}

.flex {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
}

/*Слайдер в маленьком блоке*/

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #939395;
  border-radius: 50%;
  margin: 0 .2em 1em;
  &:hover,
   {
    background-color: transparent;
    border: 2px solid #d3c1ad;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url(/img/nogi.png);
}
.slide-2 {
  background-image: url(/img/ship.png);
}
.slide-3 {
  background-image: url(/img/ship.png);
}

/*Hamburger*/
.btn_menu {
	display: none;
	float: right;
	cursor: pointer;
  margin: 5.5px 0;
	width: 64px;
	.btn-menu-line{
		background: #fff;
	  height:9px; 
	  width:100%; 
	  margin: 0px 0 6px 0px;
	  display:block;	  
	  transition: all 0.3s ease-in-out;
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -ms-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;	  
	}
}

@import 'media.scss';